devforge-backend/workflows/code_analysis_pipeline.json
{
    "name": "Code Analysis Pipeline",
    "nodes": [
        {
            "parameters": {},
            "name": "Start",
            "type": "n8n-nodes-base.start",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "url": "http://api.devforge.com/api/analyze",
                "method": "POST",
                "jsonParameters": true,
                "options": {}
            },
            "name": "Analyze Code Lambda",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{$json[\"risk_scores\"][\"security\"]}}",
                            "operation": "larger",
                            "value2": 5
                        }
                    ]
                }
            },
            "name": "Security Risk Check",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                750,
                300
            ]
        }
    ],
    "connections": {
        "Start": {
            "main": [
                [
                    {
                        "node": "Analyze Code Lambda",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Analyze Code Lambda": {
            "main": [
                [
                    {
                        "node": "Security Risk Check",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}